.ocdpw {
    padding: 1em 0;
}

.ocdpw > span {
	display: inline-block;
	float: left;
	font-family: 'Courier New', monospace;
	line-height: 1.6em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 16px;
}

.ocdpw > span:nth-child(2n + 1) {
	clear: both;
}

.ocdpw > span::selection {
	color: #087990;
	background-color: #cff4fc;
}

.ocdpw > p {
	clear: both;
	font-size: 15px;
	margin: 0 0 0 0;
	padding: 0.4em 0 0 0;
}

.ocdpw > p > span {
	color: #b02a37;
	background-color: #f8d7da;
	border: 1px solid #f1aeb5;
	border-radius: 4px;
	padding: 0 0.4em 0 0.4em;
	float: right;
}

.ocdpw > p > span.ocdpw-good {
	color: #146c43;
	background-color: #d1e7dd;
	border-color: #a3cfbb;
}

@media screen and (max-width: 400px) {
	.ocdpw > span {
		font-size: 14px;
	}
}
